*{
    padding: 0;
    margin: 0;
}

.contenedor{
    background: linear-gradient(180deg, rgb(231, 230, 230), rgb(252, 252, 247));
    width: 100%;
}

.nav{
    padding: 4px 8px;
    background-color: rgb(169, 16, 5);
}

.nav h1{
    color: rgb(236, 236, 236);
    font-size: 24px;
    text-align: center;
}

.logo-div {
    width: 240px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 16px;
}

.logo-div img {
    width: 100%;
}

.contenido {
    
}