*{
    padding: 0;
    margin: 0;
}

:root {
    --colorPrimario: rgb(169, 16, 5);
    --colorSecundario: rgb(255, 190, 110);
}

ul {
    list-style: none;
}

.contenedor{
    background: linear-gradient(180deg, rgb(231, 230, 230), rgb(252, 252, 247));
    width: 100%;
}

.nav{
    padding: 16px 0px;
    background-color: var(--colorPrimario);
    position: relative;
    z-index: 1;
}

.nav h1{
    color: rgb(236, 236, 236);
    font-size: 32px;
    text-align: center;
}


/*-------------CSS INDEX----------*/

.logo-div {
    width: 280px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo-div img {
    width: 100%;
}

.contenido {
    text-align: center;
}

.boton {
    padding: 18px 32px;
    font-size: 20px;
    font-weight: 800;
    color: var(--colorPrimario);
    border:none;
    box-shadow: 2px 2px 3px rgb(141, 140, 140);
    border-radius: 10px;
    background-color: var(--colorSecundario);
    margin:5px;
}

.boton:hover{
    border:none;
    background-color: rgb(252, 202, 142);
    color: rgb(170, 47, 38);
    transform: scale(1.04);
}

.div-consulta input {
    padding: 18px 54px;
    margin-top: 24px;
}


/*-------------CSS TABLA TARJETAS----------*/

.contenedor-tarjeta-evento {
    margin: 20px;
}

.tarjeta-evento {
    border-radius: 12px;
    color:rgb(255, 255, 255);
    position: relative;
    z-index: 1;
}

.tarjeta-evento-h3 {
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 28px;
}

.tarjeta-evento-contenido {
    padding: 4px 10px 10px 10px;
    display: flex;
    align-items: center;
}

.tarjeta-evento-cartel {
    padding: 32px 12px;
    margin: 0px 20px;
    font-size: 22px;
    text-align: center;
    border: 1px solid black;
}

.tarjeta-evento-info {
    padding: 5px;
    font-size: 20px;
}

.tarjeta-evento-info li{
    padding-bottom: 7px;
}

.contenedor-infoDesplegable {
    display: flex;
    justify-content: center;
}

#tarjeta-evento-infoDesplegable {
    display: flex;
    padding: 10px;
    background-color: rgb(134, 218, 123);
    position: relative;
    width: 75%;
    top: -200px;
    z-index: 0;
    height: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#tarjeta-evento-infoDesplegable li {
    padding-bottom: 5px;
}

.tarjeta-evento-infoCliente {
    width: 50%;
}

.tarjeta-evento-infoPrecios {
    width: 50%;
}

#tarjeta-evento-infoDesplegable h5 {
    text-align: center;
    font-size: 21px;
    margin-bottom: 5px;
}

#tarjeta-evento-infoDesplegable ul {
    font-size: 16px;
    padding: 3px 7px;
}

.tarjeta-evento-infoPrecios span {
    font-weight: 800;
}

:root {
    --alturaInfo: 170px;
}

@keyframes desplazarInfo {
    30% {top:0px;height: var(--alturaInfo);}
    100% {top:0px;height: var(--alturaInfo);}
}
@keyframes cerrarInfo {
    0% {top:0px; height: var(--alturaInfo);}
    50% {height: var(--alturaInfo);}
    100% {top:-200px;height: 0px}
}
@keyframes aparecerTexto {
    0% {opacity: 0;}
    80% {opacity: 1;}
    100% {opacity: 1;}
}

@media (min-width: 386px) { 
    :root {
        --alturaInfo: 150px;
    }
}
@media (min-width: 500px) { 
    :root {
        --alturaInfo: 130px;
    }
}
@media (min-width: 780px) { 
    :root {
        --alturaInfo: 98px;
    }
}


/*-------------CSS AGREGAR EVENTO----------*/

.contenedor-divForm {
    padding: 20px 40px;
}

.contenedor-divForm h4 {
    text-align: center;
    font-size: 24px;
    font-weight:400;
    padding: 12px;
}

.contenedor-divForm h5 {
    font-size: 20px;
    font-weight:400;
    margin-top: 20px;
}

.contenedor-divForm input, .contenedor-divForm select {
    width: 100%;
    height: 35px;
    margin: 10px 0px;
    border: none;
    border-radius: 10px;
    text-align: center;
    background-color: var(--colorSecundario);
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 400;
}

.contenedor-divForm input::placeholder {
    color: rgba(255, 255, 255, 0.753);
    font-size: 15px;
    letter-spacing: 1px;
}

.div-dosHijos {
    display: flex;
    align-items: center;
}

.div-dosHijos select, .div-dosHijos input {
    width: 50%; 
}

.div-dosHijos select {
    margin-right: 5px;
}
.div-dosHijos input {
    margin-left: 5px;
}

.contenedor-divForm label {
    color: rgba(0, 0, 0, 0.712);
    font-size: 14px;
    letter-spacing: 1px;
}